@font-face {
  font-family: yekan;
  src: url(./assets/fonts/yekan-bakh-medium.ttf);
  src: url(./assets/fonts/yekan-bakh-medium.woff);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: yekan;
  direction:rtl;
  text-align: right;

}





